.search-container {
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  // max-width: 250px;
  position: relative;

  input {
    text-indent: 1.2em;
    flex: 1;
    border: 1px solid #aaa;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    padding: 5px;
    color: var(--bg-0) !important;
    font-size: 18px;
  }

  .styled-link {
    position: absolute;
    right: 20px;
    top: 6px;
  }
}

td,
th {
  text-align: left;
}

.select {
  width: 140px;
}

.Dropdown-control,.search-container input{
 border-radius: 8px !important;
}