:root {
  --primary-color: #009879;
  --primary-active-color: #015c4a;
  --table-bg-color: #f3f3f3;
  --font-size-large: 18px;
  --spacing: 1rem;
}
// body {
//   font-family: 'Noto Sans Bengali', sans-serif;
// }

//button style
.btn_outline_primary {
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
  background: #fff !important;
  &:hover {
    color: #fff !important;
    background: var(--primary-color) !important;
  }
}

.btn_primary {
  border: 1px solid var(--primary-color) !important;
  color: #fff !important;
  background: var(--primary-color) !important;
  &:hover {
    color: #fff !important;
    border: 1px solid var(--primary-active-color) !important;

    background: var(--primary-active-color);
  }
}

//table style
table,
.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  thead tr {
    background-color: #009879 !important;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  th,
  td {
    padding: 12px 15px;
  }
  th{
    font-size: 16px !important;
  }
  tbody tr {
    border-bottom: 1px solid #00987aa3;
    &:hover {
      background-color: #00987a0f;
    }
  }
  tbody tr:nth-of-type(even) {
    background-color: #f3f3f35c;
    &:hover {
      background-color: #00987a0f;
    }
  }
  tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
}
